body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

section img {
  width: 280px;
  height: auto;
  border-radius: 15px;
}

body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

section h1 {
  font-size: 22px;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}
section p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
